/* Write your CSS here */
.css-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.css-Random-generator-button {
  background-color: #0b69ff;
  border-radius: 5px;
  color: white;
  border-width: 0;
  padding: 10px;
  width: 80px;
}

.css-Random-generator-button:hover {
  cursor: pointer;
}

.css-number-para {
  font-size: 30px;
  font-weight: bold;
}
